* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  .container {
    max-width: 1170px;
    margin: auto;
  }
  input {
    outline: none;
    border: none;
  }
  button {
    outline: none;
    border: none;
    background: none;
  }
  ul{
     list-style: none;
  }
   a{
    text-decoration: none;
    display: block;
  }